.Reg {
    .deal {
        color: #cccc;
        font-size: 13px;
    }
    .rule {
        font-size: 13px;
        color: #00BC5B;
    }
    .sub-title {
        font-size: 14px;
        color: #00BC5B;
    }
}